

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #777;
  padding: 3rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header-nav button{
  border-color: #fff !important;
  padding: 5px;
  
}
.header-nav button i{
  color: #fff !important;
  font-size: 16px;
  
}
.header-nav .sign-in:hover,
.header-nav .sign-out:hover{
color: #007bff;
background-color: #fff;
}
.logo{
  width: 35px;
  height: 35px;

}
.logo img{
  width: 100%;
  height: 100%;
}
.user{
  font-size: 16px;
  color: #fff;
}
.user:hover {
  color: #fff;
  text-decoration: none;
}
.profile{
  width: 30px;
  height: 30px;

}
.profile img{
  width: 100%;
  height: 100%;
}
.main-content{
  padding: 5rem 6rem;
  background-color: #f7f7f7;
}
.main-card{
  margin: 3rem 2rem;
  padding: 0px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)

}
.img-card{
    height: 250px;
  }

.img-card img{
  height: 100%;
  width: 100%;
}
.card-detail{
  font-size: 16px;
}
.card-detail i{
  color: #007bff;
  font-size: 22px;
}

.card-action a{
  font-size: 18px;
}


/* --------------hotel style------------ */
.hotel-preview-badge{
  font-size: 20px;
}
.hotel-preview-text-1{
  font-size: 18px;
}
.hotel-preview-text-2{
  font-size: 16px;
}
.hotel-location{
  font-size: 16px;
}
.hotel-location i{
  font-size: 18px;
  color: #007bff;
}

.hotel-hero-img{
  height: 300px;
}

.hotel-hero-img img{
  height: 100%;
  width: 100%;
}
.hotel-detail{
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.hotel-detail-right{
  margin-left: 1rem;
  margin-top: 7rem;
}
.hotel-detail-heading{
  color: #007bff;
}
.hotel-detail-text{
  font-size: 16px;
}
.hotel-amenities{
  background-color: #fff;
  padding: 3rem;
  margin: 3rem ;
  border-radius: 10px;
  color: #000;
}
.hotel-amenities-text{
  font-size: 14px;
  padding: 1rem;
}
.hotel-amenities i{
  font-size: 14px;
  color: #007bff;
}
.hotel-booking{
  border: 1px solid #777;
  background-color: #fff;
  /* height: 150px; */
  overflow: hidden;
  margin: 15px;
}
.hotel-booking h3{
  color: #007bff;

}
.hotel-booking-img{
  height: 180px;
}
.hotel-booking-img img{
  width: 100%;
  height:  100%;
}
.hotel-booking-text{
  font-size: 14px;
}
.hotel-booking button{
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
}

.hotel-booking i{
  color: #007bff;
  
}
.testimonial{
  margin-top: 100px 20px 60px;
}

.testimonial h2{
  color: #007bff;

}

.testimonial h4{
  color: #000000;
  font-size: 20px;

}
.testimonial p{
  font-size: 16px;

}

.testimonial i{
  font-size: 20px;
margin-left: 10px;

}
.testimonial-active{

  color: #007bff;
}
.testimonial a{
  font-size: 16px;

}



/* ----------login style------- */

.form-container{
  background-color: #f7f7f7;
padding: 30px;
}
.main-form{
  /* border: 1px solid #007bff; */
  font-size: 18px;
  background-color: #fff;
  padding:30px 40px;
  margin: 40px 0px;
  border-radius: 5px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)

}
.form-group{
  margin: 25px 1px;
}
.form-control{
  font-size: 16px;

}
.form-title{
  color: #007bff;
  font-weight:400
}
.main-form i{
  color: #007bff;
  font-size: 42px;
}
.main-form button{
  width: 100%;
  font-size: 18px;
  margin: 15px 1px;

}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #007bff;
}
.alert--error {
  background-color: #eb4d4b;
}

/* ---------error page-------- */

.error {
  font-size: 18px;
  min-height: 60vh;
}
.error h2{
  font-size: 28px;
  color: #eb4d4b;
  padding: 10px;
}

/*------------account page--------*/
.acc-form{
  font-size: 18px;
  margin: 40px 0px;

}  
.image{
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-right: 20px;

}
.image img{
  width: 100%;
  height: 100%;
}
.acc-form .btn{
  width: 50%;
  font-size: 18px;
  margin: 15px 1px;
}