nav.navbar.navbar-expand-lg.navbar-light.bg-dark.p-4.header-nav
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
    i.fa.fa-bars(aria-hidden='true')

  a.navbar-brand(href='/').logo 
    img(src='/img/logo-white.png', alt='hotel logo')
  #navbarTogglerDemo03.collapse.navbar-collapse
    ul.navbar-nav.mt-2.ml-auto.mt-lg-0.ml-5
      if user
        a.btn.btn-dark.btn-lg.mx-3.sign-in(type='button',href='#') LOG OUT
        a(href='#').user.d-flex.align-items-center.mr-5
          .profile.mr-2
            img.rounded-circle(src=`img/users/${user.photo}` alt=`photo of ${user.name}`)
          span=user.name.split(' ')[0]
      else
        a.btn.btn-dark.btn-lg.mx-3.sign-in(type='button',href='/login') LOG IN
        button.btn.btn-outline-primary.btn-lg.mx-3(type='button') SIGN UP
