nav.navbar.navbar-expand-lg.navbar-light.bg-dark.p-4
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  a.navbar-brand(href='#').logo 
    img(src='/img/logo-white.png', alt='hotel logo')
  #navbarTogglerDemo03.collapse.navbar-collapse
    ul.navbar-nav.mt-2.ml-auto.mt-lg-0.ml-5
      button.btn.btn-dark.btn-lg.mx-3(type='button') LOG IN
      button.btn.btn-outline-primary.btn-lg.mx-3(type='button') SIGN UP
