doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link( rel='shortcut icon' type='image/png' href='img/favicon.png')
    link(rel='stylesheet' href='css/style.css')
    

    title Hotels | Book exceptional comfort
    
body
nav.navbar.navbar-expand-lg.navbar-light.bg-dark.p-4.h3
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  a.navbar-brand(href='#') LOGO
  #navbarTogglerDemo03.collapse.navbar-collapse
    ul.navbar-nav.mt-2.ml-auto.mt-lg-0.ml-5
      button.btn.btn-dark.btn-lg.mx-3(type='button') LOG IN
      button.btn.btn-outline-primary.btn-lg.mx-3(type='button') SIGN UP

section
  h1 content here

.card-footer.text-muted.p-5.align-middle.text-center.h2
  | FOOTER


    









script(src='js/jquery.min.js')
script(src='js/bootstrap.min.js')

