extends base

block content
    .row.d-flex.justify-content-center.align-content-center.py-5
      .col-md-6.error.my-5.text-center
        h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
        h2.error__emoji 😢 🤯
        .error__msg=msg