extends base


block content
  .form-container
    .row.justify-content-center
      .col-md-6.col-lg-4
        .main-form
          .text-center
            i.fa.fa-lock(aria-hidden='true')
            .form-title.my-2 LOG INTO YOUR ACCOUNT
          
          form.form#login-form
            .form-group
                label(for='email') Email:
                input#email.form-control.p-3(type='email',value="user@hotel.com" placeholder='Enter Email', name='email', required='')
                
            .form-group
                label(for='pwd') Password:
                input#pwd.form-control.p-3(type='password',value="test1234" placeholder='Enter password', name='pwd', required='')
            
            button.btn.btn-primary LOG IN



